:root {
  --ox10-primary-color: #7700FF;
  --ox10-primary-font-family: 'Inter', sans-serif;
  --ox10-secondary-font-family: 'Helvetica', sans-serif;
  --ox10-primary-text-color:#1A1A1A;
  --ox10-secondary-color:#321158;
  --ox10-white-color:#FFFFFF;
  --ox10-section-background-color:#F8F8F8;
  --ox10-section-text-color:#1D1D1F;
  --ox10-purple-btn-margin-top: 80px;
}

.text-transform{
  text-transform: uppercase;
}
.pr-30{
  padding-right: 30rem !important;
}
body{
  font-family: var(--ox10-primary-font-family)!important;
  box-sizing: border-box;
  overflow-x: hidden;
}
body .ox10-nav-img-align{
  height: 35px;
  width: 177px;
}
body .navbar-collapse {
  margin: 0% 0% 0% 16%;
}
body .ox10-navbar {
  border-bottom: 1px solid #E7D9F8;
  padding: 27px 180px 27px 140px;
}
body .nav-item{
  margin-left:18px;
  height: 38px;
  width: 73px;
  text-align: center;

}
.nav-item a.active{
  background-color: #F1E6FF;
  font-family: var(--ox10-primary-font-family);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--ox10-primary-color) !important;
  margin: 0px 2px;
}
body .ox10-nav-link {
  font-family: var(--ox10-primary-font-family);
  font-weight: 400;
  color: var(--ox10-secondary-color) !important;;
  font-size: 16px;
  line-height: 22px;
  width: 90px;
}

.nav-list-link:hover{
  color: var(--ox10-secondary-color) !important;;
}
.ox10-nav-link:hover{
  color: var(--ox10-secondary-color) !important;;
}

body .ox10-talk-to-us-button {
  width: 127px;
  height:48px;
  background-color: var(--ox10-primary-color);
  border-radius: 30px;
  margin: 0px 0px 0px 140px;
  font-family: var(--ox10-primary-font-family);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
  color: var(--ox10-white-color);
  text-decoration: none;  
}
body .ox10-talk-to-us-button:hover {
   color:var(--ox10-white-color);
}
body .navbar-light .navbar-toggler {
 border:none;
}

/*********** Common Classess *********************/
body a{
  text-decoration: none;
}

body .ox10-custom-container {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 0 30px;
}

body .space-wrap {
  padding-top: 100px;
}

body .ox10-second-level-title {
  font-family: var(--ox10-primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--ox10-primary-color);
  margin: 0;
  text-transform: uppercase;
}

body .ox10-purple-btn {
  font-family: var(--ox10-primary-font-family);
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  height: 48px;
  padding:13px 32px 13px 32px;
}
body .ox10-purple-btn.outlined {
  border: 2px solid var(--ox10-primary-color);
  color: var(--ox10-primary-color);
  background-color: var(--ox10-section-background-color);
  width: 160px;
 
}
body .ox10-purple-btn.primary {
  background-color: var(--ox10-primary-color);
  color: var(--ox10-white-color);
  width: 175px;
  margin-left:36px;
}

body .ox10-purple-btn.outlined:hover{
  background-color: var(--ox10-primary-color);
  color: var(--ox10-white-color);
}

/********************* Landing title *******************************/
body .ox10-landing-title {
  padding: 60px 150px 60px 150px;
}
body .ox10-landing-h1 {
    max-width: 992px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0.5px;
    color:  var(--ox10-primary-text-color);
}

/********************* Landing title *******************************/

/********************* Banner **************************************/
body .ox10-landing-carousel .carousel-item {
  max-height: 900px;
  overflow: hidden;
}

body .ox10-landing-carousel .carousel-item::before, .carousel-item::after {
  content: "";
  width: 100%;
  height: 47%;
  position: absolute;
  left: 0;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(196, 196, 196, 0) 100%); */
} 

body .ox10-landing-carousel .carousel-item::before {
  top: 0;
}

body .ox10-landing-carousel .carousel-item::after {
  bottom: 0;
  transform: rotate(-180deg);
}


body .ox10-landing-carousel img {
  height: 100%;
}

body .ox10-landing-carousel .carousel-indicators [data-bs-target] {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #C4C4C4;
  opacity: 1;
  position: relative;
  margin-left: 19px;
  margin-right: 19px;
}

body .ox10-landing-carousel .carousel-indicators .active {
  background-color: var(--ox10-white-color);
}

body .ox10-landing-carousel .carousel-indicators .active::before {
  content: "";
  width: 28px;
  height: 28px;
  background-color: rgba(243, 243, 243, 0.21);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
body .ox10-landing-carousel .carousel-caption {
  z-index: 9999;
  top: 24px;
  left: 15.2%;
  right: auto;
  bottom: auto;
  color:var(--ox10-white-color);
  padding: 16px 36px;
  min-width: 291px;
  text-align: left;
  background: rgba(26, 26, 26, 0.64);
  border-radius: 8px;
}
body .ox10-landing-carousel .carousel-caption {
  margin-left: -4%;
} 
body .ox10-landing-carousel .ox10-banner-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.25px;
}
body .ox10-landing-carousel .ox10-banner-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
/********************* Banner **************************************/

/********************** brand list *********************************/

body .ox10-brand-lists{
  padding:120px 165px 120px 165px;
  text-align: center;
}  
body .ox10-brand-lists-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  letter-spacing: 0.25px;
  color: var(--ox10-primary-text-color);
}
body .ox10-brand-image img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
} 
body .ox10-brand-list-wrap {
  padding: 28px 96px 0px 96px;
}

/********************** brand list *********************************/


/************************* about us section ****************************/
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 120px 150px 120px 150px;
    background:var(--ox10-section-background-color);
  }
  body .ox10-about-us-first-wrap-text, .ox10-service-wrap-first-text {
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color:  var(--ox10-section-text-color);
    padding: 5% 33% 0% 0%;
  }
  body .ox10-about-us-second-wrap {
    padding: 4% 0% 0% 0%;
  }
  body .ox10-about-us-second-wrap-title {
    font-size: 32px;
    line-height: 44px;
    color: var(--ox10-section-text-color);
    font-weight: bold;
  }
  body .ox10-about-us-button-wrap{
    margin-top: var(--ox10-purple-btn-margin-top);
  }
  body .ox10-count-wrap .ox10-count {
    font-family: var(--ox10-secondary-font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: var(--ox10-primary-color);
    padding-bottom: 2%;
  }
  body .ox10-count-wrap .ox10-text {
    font-family: var(--ox10-secondary-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: var(--ox10-section-text-color);
  }
 


/************************* about us section ****************************/

/************************* projects section ****************************/
 body .ox10-projects-wrap{
  padding: 120px 150px 120px 150px;
} 

.ox10-projects-wrap .ox10-purple-btn.outlined{
  width: 215px;
  height: 48px;
  margin-top: var(--ox10-purple-btn-margin-top);
}
.ox10-company-name{
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
  width: 116px;
  height: 22px;
}

.ox10-projects {
  will-change: transform;
  height: auto;
  align-items: flex-start;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  flex-wrap: nowrap;
  display: flex
}

.ox10-projects a {
  text-decoration: none;
  display: block;
  padding: 0px 20px 0px 20px;
  max-width: 50vw;
  flex: 0 0 50vw;
  width: 50vw;
  transition-duration: .8s;
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(.25, .74, .22, .99)
}

.ox10-projects a img {
  width: 100%
}

.ox10-projects.slider {
  margin: 30px 0px;
}

.ox10-projects-section{
  display: block;
}

.ox10-projects-section .ox10-projects-content h4 {
  margin: 10px 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: var( --ox10-section-text-color);
  width: 100%;
  height: 40px;
  left: 0;
  float: left
}

.ox10-projects-section .ox10-projects-content .count {
  margin: -40px 20px;
  width: 25px;
  height: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var( --ox10-section-text-color);
  float: right;
}

/************************* projects section ****************************/

/*************************** service section ***************************/

body .ox10-service-col {
  padding-top: 5%;
  padding-right: 5%;
}
body .ox10-service-count {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--ox10-primary-color);
}
body .ox10-service-title {
  color: var(--ox10-secondary-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}
body .ox10-service-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--ox10-section-text-color);
}
body .ox10-service-btn-wrap {
  margin-top: var(--ox10-purple-btn-margin-top);
}
body .ox10-service-btn-wrap .ox10-purple-btn.primary {
  width: 355px;
  height: 48px;
}

/*************************** service section ***************************/
/******************* testimonial **************************/
body .ox10-testimonial-wrap{
  padding: 120px 150px 120px 150px;
}
body .testimonial-carousel {
  padding-top:60px;
  padding-right:34%;
}
body .ox10-testimonial-image {
  margin-right: 5%;
}  
body .ox10-testimonial-image img{
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 60px;
  border: 6px solid #E8E8E8;
}
body .ox10-testimonial-user-name {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  color: var(--ox10-primary-text-color);
  margin-bottom: 0%;
}
body .ox10-testimonial-user-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #A3A3A3;
}
body .ox10-testimonial-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  padding: 5% 5% 5% 0%;
  color: var(--ox10-primary-text-color);
}
body .ox10-testimonial-carousel-controls {
  max-width: 100px;
  width: 100%;
}
body .ox10-testimonial-carousel-controls .control {
  position: static;
}
body .testimonial-carousel  .ox10-carousel-count {
  color: var(--ox10-primary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}


/******************* testimonial **************************/

/*********************** footer Banner ******************************/
body .ox10-footer-banner {
  text-align: center;
  background: #F7F2FD;
  padding: 120px 175px 120px 175px;
}
body .ox10-footer-banner-title {
  font-size: 44px;
  line-height: 60px;
  font-weight: 800;
  color: var(--ox10-primary-text-color);
  letter-spacing: 0.25px;
}
body .ox10-footer-banner .ox10-purple-btn.primary{
 margin-top:60px;
 margin-left:0px;
}
/*********************** footer Banner ******************************/
/*********************** footer *************************************/

body .ox10-footer {
  background: #180033;
  color:var(--ox10-white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
body .ox10-footer-wrap{
  padding: 80px 180px 27px 150px;
}
body .ox10-footer a {
  color: var(--ox10-white-color);
  font-weight: 400;
}
body .ox10-footer-col-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration-line: underline;
  margin-top: -7px;
}
body .ox10-footer-social-wrap{
 margin-top: 46px;
}
body .ox10-footer-page-wrap{
  margin-top: 36px;
}
body .ox10-footer .ox10-social-link, .ox10-page-link {
  margin-top: 15px;
}  
body .ox10-footer-contact{
  margin-top: 42px;
}
body .ox10-footer-contact-site{
  margin-top: 30px;
}
body .ox10-footer-divider {
  border-top: 1px solid #F4EBFF;
  margin: 41px 180px 39px 150px;
}
body .ox10-copyright-wrap{
  padding: 0px 180px 79px 150px;
  margin-top:40px;
  display: block;
}
body .ox10-copyright{
  text-align:left;
}
body .ox10-designer{
  text-align:right;
}

/*********************** footer *************************************/

/****************************************** Home - Responsive starts Here ***************************************************/

@media only screen and (min-width: 1400px) {
  body .ox10-navbar {
    padding: 27px 320px 27px 311px;
  }
  body .navbar-collapse {
    margin-left: 18%;
  }
  body .ox10-talk-to-us-button{
    margin-left: 350px;
  }
  body .ox10-landing-title {
    padding: 60px 607px 60px 321px;
  }
  body .ox10-landing-carousel .carousel-caption {
    margin-left: 30px;
  }
  body .ox10-brand-lists{
    padding:120px 180px 120px 180px;
  }  
  body .ox10-brand-lists-title {
    font-size: 32px;
  }
  body .ox10-brand-list-wrap {
    padding: 2% 20% 2% 20%;
  }
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 120px 321px 120px 321px;
  }
  body .ox10-about-us-first-wrap-text, .ox10-service-wrap-first-text{
    padding: 3% 46% 0% 0%;
  }
  body .ox10-about-us-second-wrap-title{
    padding-right: 7px;
  }
  body .ox10-count-wrap{
    margin-left: -36px;
  }
  body .ox10-projects-wrap{
    padding: 120px 321px 120px 321px;
  }
  body .ox10-services{
    padding-right: 258px;
  }
  body .ox10-testimonial-wrap{
    padding: 120px 321px 120px 321px;
  }
  body .ox10-footer-banner{
    padding:  120px 415px 120px 451px;
    }
  body .ox10-footer-wrap{
    padding: 80px 320px 0px 320px;
  }
  body .ox10-footer-content{
    width:1600px;
  }
  body .ox10-footer-contact, .ox10-footer-contact-site   {
    margin-top: 42px;
  }
  body .ox10-footer-divider{
    margin: 41px 320px 39px 320px;
  }
  .ox10-footer-contact-address{
    width: 325px;
  }
  body .ox10-copyright-wrap{
    padding: 0px 320px 0px 320px;
  }
}

@media only screen and (max-width: 1280px) {
  body .ox10-nav-align .nav-item{
    position: static;
    height: 22px;
    width: 68px;
  } 
  body .ox10-nav-align {
    left: 35%;
    top: 30%;
  }
  body .nav-link{
    display:inline-block;
  }
  body .ox10-nav-btn-align{
    margin: 10px 0px 0px 0px;
    padding-bottom: 15px;
  }
  body .ox10-talk-to-us-button{
    margin-left: 100px;
  }
  body .ox10-landing-carousel .carousel-caption{
    margin-left: -3%;
  }
  body .ox10-brand-lists{
    padding: 120px 180px 120px 180px;
  }
  body .ox10-brand-lists-title{
    font-size: 32px;
  }
  .ox10-projects.slider {
    margin: 40px 0px;
  }
}
@media only screen and (max-width: 1180px) {
  body .navbar-collapse {
    margin: 0% 0% 0% 3%;
  }

}
 @media only screen and (max-width: 1024px) {
  body .ox10-navbar {
    padding: 24px 50px 22px 50px;
  }
  body .ox10-landing-title {
    padding: 60px 65px 60px 65px;
  }
  body .navbar-collapse{
    margin: 26px 0px 26px 100px ;
  }
  body .ox10-talk-to-us-button {
    margin: 0px 0px 0px 100px;
  }  
  body .ox10-landing-carousel .carousel-caption {
    margin-left: -8%;
  }   
  body .ox10-brand-lists{
    padding:120px 120px 120px 120px;
  }  
  body .ox10-brand-list-wrap{
    padding: 28px 50px 0px 50px;
  }
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 120px 65px 120px 65px;
  }
  body .ox10-projects-wrap{
    padding: 120px 65px 120px 65px;
  }
  body .ox10-testimonial-wrap{
    padding: 120px 65px 120px 65px;
  }
  body .ox10-footer-banner {
    padding: 120px 75px 120px 75px;
  }
  body .ox10-footer-wrap{
    padding: 80px 65px 27px 65px;
  }
  body .ox10-footer-divider {
    margin: 41px 65px 39px 65px;
  }
  body .ox10-copyright-wrap {
    padding: 0px 65px 79px 65px;
  }
} 
 

@media only screen and (max-width: 991px)    {
  body .ox10-navbar {
    padding: 24px 10px 22px 10px;
  }
  body .navbar-collapse {
    margin: 0% 0% 0% -2%;
  }
  body .ox10-nav-img-align {
    width: 88px;
    height: 18px;
  }  
  body .ox10-landing-title {
    padding: 48px 20px 48px 20px;
  }
  body .ox10-landing-h1 {
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.4px;
  }
  body .ox10-landing-carousel .carousel-caption {
    padding: 6px 10px 6px 10px;
    margin-left: -12%;
    min-width:130px; 
    height: 52px;
  } 
  body .ox10-landing-carousel .ox10-banner-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 3%;
  }
  body .ox10-landing-carousel .ox10-banner-text {
    font-size: 12px;
    line-height: 16px;
  }
  body .ox10-brand-lists{
    padding: 47px 20px 47px 20px;
  }
  body .ox10-brand-list-wrap{
    padding: 24px 20px 0px 20px;
  }
  body .ox10-second-level-title{
    font-size: 12px;
    line-height: 24px;
  }
  body .ox10-about-us-button-wrap{
    margin-top: 48px;
  }
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 48px 20px 48px 20px;
  }  
  body .ox10-about-us-first-wrap-text, .ox10-service-wrap-first-text{
    padding: 7% 0% 0% 0%;
    font-size:20px;
    line-height: 28px;
  } 
  body .ox10-about-us-second-wrap-title {
    font-size: 24px;
    line-height: 36px;
  }
  body .ox10-count-wrap {
    padding: 3% 0% 0% 0%;
  }
  body .ox10-count-wrap .ox10-count{
    font-size: 32px;
    font-weight:800;
    line-height: 32px;
    letter-spacing: 0.25px;
    font-family: var(--ox10-primary-font-family);
    padding-bottom:1%;
  }
  body .ox10-count-wrap .ox10-text{
    font-size: 20px;
    line-height: 28px;
    font-family: var(--ox10-primary-font-family);
    padding-bottom:3%;
  }
  body .ox10-projects-wrap{
    padding: 48px 20px 48px 20px;
  }
  .ox10-projects.slider {
    display: block;
    margin-bottom: 0px;
  }
.ox10-projects a {
    padding-left: 0%;
    padding-right: 0%;
    max-width: 100%;
    width: 100%;
  }
.ox10-projects-section .ox10-projects-content h4 {
    font-size: 20px;
    line-height: 28px;
    height: 28px;
  }
  .ox10-projects-section .ox10-projects-content .count { 
    display: none;
  }
  .ox10-company-name{
    display:flex;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .ox10-projects-wrap .ox10-purple-btn.outlined{
    margin-top: 48px;
  }
  body .ox10-service-count {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 3%;
  }
  body .ox10-service-title{
    color: var(--ox10-primary-text-color);
    font-size: 24px;
    line-height: 36px;
  }
  body .ox10-service-text{
    font-size: 14px;
    line-height: 20px;
  }
  body .ox10-service-btn-wrap {
    margin-top: 48px;
  }
  body .testimonial-carousel {
    padding-top:24px;
    padding-right:15%;
  }
  body .ox10-testimonial-wrap {
    padding: 48px 20px 48px 20px;
  }
  body .ox10-testimonial-image img{
    width: 80px;
    height: 80px;
    border: 4px solid #E8E8E8;
  }  
  body .ox10-testimonial-user-name {
    font-size: 20px;
    line-height:28px;
    font-weight: 500;
  }
  body .ox10-testimonial-user-desc {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  body .ox10-testimonial-text {
    font-size: 20px;
    line-height: 28px;
    padding:5% 10% 5% 0%;
  }
  body .testimonial-carousel  .ox10-carousel-count {
    font-size: 14px;
    line-height: 18px;
  }
  body .ox10-footer-banner{
    padding: 60px 20px 60px 20px;
  }
  body .ox10-footer-banner-title {
    font-size: 32px;
    line-height: 32px;
    padding-right: 30px;
    padding-left: 30px;
  }
  body .ox10-footer-banner .ox10-purple-btn.primary{
    margin-top:48px;
  }
  body .ox10-talk-to-us-button{
    width: 85px;
    height: 40px;
    border-radius: 19px;
    padding: 0px;
    font-size: 12px;
    margin: 0px 0px 0px 5px;
  } 
  .nav-item a.active{
    border-radius: 5px;
    line-height: 20px;
    width: 80px;
    font-size:18px;
  } 
  body .ox10-nav-align .nav-item{
    padding: 10px 0px 25px 0px;
  } 
  body .ox10-brand-list-wrap .first-row {
    justify-content: center !important;
  }    
  body .ox10-brand-image {
    padding-left:31px;
  }
  body .ox10-footer-wrap{
    padding: 48px 20px 0px 20px;
  } 
  body .ox10-footer-social-wrap{
    margin-bottom: 62px;
  }    
  body .ox10-footer-col-title {
    line-height: 44px;
    font-weight: 600; 
  }
  body .ox10-footer-social-wrap, .ox10-footer-page-wrap{
    margin-top: 16px;
  }
  body  .ox10-footer-contact-site   {
    margin-top: 4%;
  }
  body .ox10-footer-contact-address {
    padding-right: 30%;
  } 
  body .ox10-footer-divider {
    margin: 24px 20px 24px 20px;
  }
  body .ox10-copyright-wrap{
    padding: 0px 20px 36px 20px;
    margin-top:0%;
  }
  
}

@media only screen and (max-width: 768px) {  
  body .navbar-collapse {
    margin: 0% 0% 0% -3%;
  }
  body .carousel-indicators{
    margin-bottom: 1%;
  }
  body .ox10-landing-carousel .carousel-indicators [data-bs-target]{
    height: 4px;
    width: 4px;
    margin-right: 10px;
  }
  body .ox10-landing-carousel .carousel-indicators .active::before{
    width: 12px;
    height: 12px
  }
  body .ox10-footer-contact-address {
    padding-right: 27%;
}
}

@media only screen and (max-width: 600px) {   
  body .ox10-landing-carousel .carousel-caption {
    margin-left: -11%;
  } 
  body .ox10-brand-image {
    padding-top: 15px;
  }
  body .ox10-service-btn-wrap .ox10-purple-btn.primary {
    margin-left:20px;
  } 
}
@media only screen and (max-width: 540px) {
  body .ox10-service-btn-wrap .ox10-purple-btn.primary {
    margin-top:36px;
    margin-left:0px;
  }  
  body .ox10-footer-contact-site {
    margin-top: 10%;
  }
  body .ox10-footer-contact-address {
    padding-right:17%;
  }
  body .ox10-footer-divider {
    margin: 6% 5% 6% 5%;
  }   
}
@media only screen and (max-width: 480px) {
  body .navbar-collapse {
    margin: 0% 0% 0% -4%;
  }
}

@media only screen and (max-width: 360px) {
  body .ox10-landing-carousel .carousel-caption {
    margin-left: -9%;
}
  body .ox10-purple-btn.primary{
    margin-left: 0px;
    margin-top: 36px;
  }
  body .ox10-service-btn-wrap .ox10-purple-btn.primary{
    width:335px;
    padding:13px 25px 13px 25px;
  }
}
@media only screen and (max-width: 320px) {
  body .navbar-collapse {
    margin: 0% 0% 0% -7%;
  }
  body .carousel-indicators{
    margin-bottom: 0%;
  }
  body .ox10-landing-carousel .carousel-caption {
    margin-left: -8%;
  } 
  body .ox10-count-wrap .ox10-text{
    padding-bottom: 5%;
  }
  body .ox10-service-btn-wrap .ox10-purple-btn.primary{
    width: 295px;
    font-size:12px;
  }
}


/*
Projects section start - projects.html
*/
body .ox10-all-projects-proud-title{
  padding: 60px 150px 0px 150px;
}
body .ox10-project-proud-wrap-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color:  var(--ox10-section-text-color);
  padding-top:60px;
  padding-right: 310px;
}
.ox10-proud-together-divider{
  margin-top:80px;
  border-bottom: 1px solid var(--ox10-primary-color);
}
.nav-list li{
  cursor: pointer;
  width: auto;
  height:38px;
  padding: 0px 15px;
  font-family: var(--ox10-primary-font-family);
  font-weight: 400;
  color: var(--ox10-secondary-color) !important;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 16px 8px 16px;
}
.nav-list .active{
  background-color: #F1E6FF;
  font-family: var(--ox10-primary-font-family);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--ox10-primary-color) !important;
  margin: 0px 2px;
}
.ox10-all-images{
  display: flex;
}
.show{
  opacity: 1;
  visibility: visible;
}
.hide{
  opacity: 0;
  visibility: hidden;
}
.ox10-all-projects-nav{
  margin-left: 115px;
  margin-top:32px;
  margin-bottom: 88px;
}
.nav-list{
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-list-link{
  text-decoration: none;
  display: initial;
  padding: 0.5rem 1rem;
}
.ox-10-active-link{
  background-color: #F1E6FF;
  font-family: var(--ox10-primary-font-family);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--ox10-primary-color) !important;
  margin: 0px 2px;
}
.ox-10-active-link:hover{
  color: var(--ox10-primary-color) !important;;
}
.ox10-all-projects-images {
  padding: 0px 95px 80px 150px;
}
.ox10-each-project{
  padding-right: 10%;
  margin-bottom: 100px;
}
.ox10-project-image{
  width: 100%;
}
.ox10-projects-content h4 {
  margin: 10px 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: var( --ox10-section-text-color);
  width: 100%;
  height: 40px;
  left: 0;
  float: left
}
#events, #branding, #product-launches{
  display: none;
}

@media only screen and (min-width: 1400px){
  body .ox10-all-projects-proud-title {
    padding: 60px 331px 0px 331px;
  }
  body .ox10-project-proud-wrap-text{
    padding-right: 540px;
  }
  .ox10-all-projects-nav{
    margin-left:295px;
  }
  .ox10-all-projects-images {
    padding: 0px 265px 80px 331px;
  }

}
@media only screen and (max-width: 1024px){
  body .ox10-all-projects-proud-title {
    padding: 60px 65px 0px 65px;
  }
  .ox10-all-projects-nav{
    margin-left: 35px;
  }
  .ox10-all-projects-images{
    padding:  0px 20px 80px 70px;
  }
}

@media only screen and (max-width: 991px) {
  body .ox10-all-projects-proud-title {
    padding: 48px 20px 0px 20px;
  }
    body .ox10-project-proud-wrap-text{
    font-size: 20px;
    line-height: 28px;
    padding-right: 20px;
  }
  .ox10-proud-together-divider{
    margin-top: 40px;
  }
  .ox10-all-projects-nav{
    margin-bottom: 44px;
    margin-left: -13px;
  }
  .ox10-all-projects-images {
    padding: 0px 20px 0px 20px;
}
  .ox10-projects-content h4 {
    font-size: 20px;
    line-height: 28px;
    height: 28px;
  }
  .ox10-each-project{
    padding-right: 0%; 
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 768px) {  
  .ox10-all-projects-nav{
    margin-left: -15px;
  }
}

@media only screen and (max-width: 480px) {
  .nav-list{
    display: block;
  }
  .ox10-all-projects-nav{
    margin-bottom: 0px;
  }
  .ox10-all-projects-nav-item{
    padding-bottom:5%;
  }
}



/*
Project design system section start - design-system.html
*/
body .ox10-design-system-title{
  padding: 5% 10% 0% 10%;
}
body .ox10-company-wrap-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: var(--ox10-section-text-color);
  padding: 5% 0% 0% 0%;
}
.ox10-design-system-projects-images{
  padding: 0% 10% 5% 10%;
}
.ox10-design-system-project-image{
  padding-bottom: 5%;
}
@media only screen and (min-width: 1400px){
  body .ox10-design-system-title{
      padding: 5% 15% 4% 15%;
  }
  .ox10-design-system-projects-images{
    padding: 0% 15% 5% 15%;
  }
}
@media only screen and (max-width: 1024px){
  body .ox10-design-system-title {
      padding: 4% 9% 4% 4%;
  }
  .ox10-design-system-projects-images{
    padding: 0% 9% 5% 4%;
  }
}
@media only screen and (max-width: 991px){
  body .ox10-design-system-title {
      padding: 4%;
  }
  body .ox10-company-wrap-text {
    font-size: 20px;
    line-height: 28px;
  }
  .ox10-design-system-project-image{
    padding-bottom: 8%;
  }
  .ox10-design-system-project-image-inner{
    padding-bottom: 8%;   
  }
}
@media only screen and (max-width: 768px){
  body .ox10-design-system-title {
      padding: 5%;
  }
  .ox10-design-system-projects-images{
    padding: 0% 5% 5% 5%;
  }  
}


/*
Services section start - services.html
*/
  body .ox10-our-services-title {
    padding: 5% 10% 0% 10%;
  }
  .ox10-our-services-wrap-text{
    font-weight: 400;
      font-size: 26px;
      line-height: 40px;
      color: var(--ox10-section-text-color);
      padding: 5% 33% 0% 0%;
  }
body .ox10-our-services-wrap-text {
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color: var(--ox10-section-text-color);
    padding: 5% 33% 0% 0%;
}
@media only screen and (min-width: 1400px){
  body .ox10-our-services-title {
      padding: 5% 15% 0% 15%;
  }
}

@media only screen and (max-width: 1024px){
  body .ox10-our-services-title {
      padding: 4% 9% 4% 4%;
  }
}
@media only screen and (max-width: 991px){
  body .ox10-our-services-title{
      padding: 4%;
  }
  body .ox10-our-services-wrap-text {
    font-size: 20px;
    line-height: 28px;
    padding-right: 0%;
  }
}
@media only screen and (max-width: 768px){
  body .ox10-our-services-title {
      padding: 5%;
  }
}
