:root {
  --ox10-primary-color: #7700FF;
  --ox10-primary-font-family: 'Inter', sans-serif;
  --ox10-secondary-font-family: 'Helvetica', sans-serif;
  --ox10-primary-text-color:#1A1A1A;
  --ox10-secondary-color:#321158;
  --ox10-white-color:#FFFFFF;
  --ox10-section-background-color:#F8F8F8;
  --ox10-section-text-color:#1D1D1F;
}

.text-transform{
  text-transform: uppercase;
}
.pr-30{
  padding-right: 30rem !important;
}
body{
  font-family: var(--ox10-primary-font-family)!important;
  box-sizing: border-box;
  overflow-x: hidden;
}
body .ox10-nav-img-align{
  height: 35px;
  width: 177px;
}
body .navbar-collapse {
  margin: 0% 0% 0% 16%;
}
body .ox10-navbar {
  border-bottom: 1px solid #E7D9F8;
  padding: 2% 0% 2% 9%;
}
body .nav-item{
  margin-left:18px;
  height: 38px;
  width: 73px;
  text-align: center;
}
body .ox-10-active-link {
  background-color: #F1E6FF;
  font-family: var(--ox10-primary-font-family);
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--ox10-primary-color) !important;
  margin: 0px 2px;
}
body .ox10-nav-link {
  font-family: var(--ox10-primary-font-family);
  font-weight: 400;
  color: #321158 !important;
  font-size: 16px;
  line-height: 22px;
  width: 90px;
}
body .ox10-talk-to-us-button {
  width: 127px;
  height:48px;
  background-color: var(--ox10-primary-color);
  border-radius: 30px;
  margin: 0px 0px 0px 142px;
  font-family: var(--ox10-primary-font-family);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
  color: var(--ox10-white-color);
  text-decoration: none;  
}
body .ox10-talk-to-us-button:hover {
   color:var(--ox10-white-color);
}
body .navbar-light .navbar-toggler {
 border:none;
}

/*********** Common Classess *********************/

body .ox10-custom-container {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 0 30px;
}

body .space-wrap {
  padding-top: 100px;
}

body .ox10-second-level-title {
  font-family: var(--ox10-primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--ox10-primary-color);
  margin: 0;
  text-transform: uppercase;
}

body .ox10-purple-btn {
  font-family: var(--ox10-primary-font-family);
  margin: 0px 10px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  height: 48px;
  padding:1%
}
body .ox10-purple-btn.outlined {
  border: 2px solid var(--ox10-primary-color);
  color: var(--ox10-primary-color);
  background-color: var(--ox10-section-background-color);
  width: 155px;
 
}
body .ox10-purple-btn.primary {
  background-color: var(--ox10-primary-color);
  color: var(--ox10-white-color);
  width: 170px;
  margin:0% 0% 0% 3%;
}

body .ox10-purple-btn.outlined:hover{
  background-color: var(--ox10-primary-color);
  color: var(--ox10-white-color);
}

/********************* Landing title *******************************/
body .ox10-landing-title{
  padding: 5% 10% 5% 10%;
}
body .ox10-landing-h1 {
    max-width: 992px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0.5px;
    color:  var(--ox10-primary-text-color);
}

/********************* Landing title *******************************/

/********************* Banner **************************************/
body .ox10-landing-carousel .carousel-item {
  max-height: 900px;
  overflow: hidden;
}

body .ox10-landing-carousel .carousel-item::before, .carousel-item::after {
  content: "";
  width: 100%;
  height: 47%;
  position: absolute;
  left: 0;
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(196, 196, 196, 0) 100%); */
} 

body .ox10-landing-carousel .carousel-item::before {
  top: 0;
}

body .ox10-landing-carousel .carousel-item::after {
  bottom: 0;
  transform: rotate(-180deg);
}


body .ox10-landing-carousel img {
  height: 100%;
}

body .ox10-landing-carousel .carousel-indicators [data-bs-target] {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #C4C4C4;
  opacity: 1;
  position: relative;
  margin-left: 19px;
  margin-right: 19px;
}

body .ox10-landing-carousel .carousel-indicators .active {
  background-color: var(--ox10-white-color);
}

body .ox10-landing-carousel .carousel-indicators .active::before {
  content: "";
  width: 28px;
  height: 28px;
  background-color: rgba(243, 243, 243, 0.21);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
body .ox10-landing-carousel .carousel-caption {
  z-index: 9999;
  top: 24px;
  left: 15.2%;
  right: auto;
  bottom: auto;
  color:var(--ox10-white-color);
  padding: 16px 36px;
  min-width: 291px;
  text-align: left;
  background: rgba(26, 26, 26, 0.64);
  border-radius: 8px;
}
body .ox10-landing-carousel .carousel-caption {
  margin-left: -5%;
} 
body .ox10-landing-carousel .ox10-banner-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.25px;
}
body .ox10-landing-carousel .ox10-banner-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
/********************* Banner **************************************/

/********************** brand list *********************************/

body .ox10-brand-lists{
  padding: 7% 8% 7% 8%;
  text-align: center;
}  
body .ox10-brand-lists-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.25px;
  color: var(--ox10-primary-text-color);
}
body .ox10-brand-image img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
} 
body .ox10-brand-list-wrap {
  padding: 1% 17% 1% 15%;
}

/********************** brand list *********************************/


/************************* about us section ****************************/
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 9% 10% 9% 10%;
    background:var(--ox10-section-background-color);
  }
  body .ox10-about-us-first-wrap-text, .ox10-service-wrap-first-text {
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color:  var(--ox10-section-text-color);
    padding: 5% 33% 0% 0%;
  }
  body .ox10-about-us-second-wrap {
    padding: 4% 0% 7% 0%;
  }
  body .ox10-about-us-second-wrap-title {
    font-size: 32px;
    line-height: 44px;
    color: var(--ox10-section-text-color);
    font-weight: bold;
  }
  body .ox10-count-wrap .ox10-count {
    font-family: var(--ox10-secondary-font-family);
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    color: var(--ox10-primary-color);
    padding-bottom: 2%;
  }
  body .ox10-count-wrap .ox10-text {
    font-family: var(--ox10-secondary-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--ox10-section-text-color);
  }
 


/************************* about us section ****************************/

/************************* projects section ****************************/
 body .ox10-projects-wrap{
  padding: 9% 0% 9% 0%;
} 
.ox10-projects-wrap .ox10-second-level-title{
  margin-left:10%;
}
.ox10-projects-wrap .ox10-purple-btn.outlined{
  width: 207px;
  height: 48px;
  margin-top: 86px;
  margin-left: 10%;
  padding: 0%;
}
.ox10-company-name{
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #757575;
  width: 116px;
  height: 22px;
}

.ox10-projects {
  will-change: transform;
  height: auto;
  align-items: flex-start;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  flex-wrap: nowrap;
  display: flex
}

.ox10-projects a {
  text-decoration: none;
  display: block;
  padding: 0px 20px 0px 20px;
  max-width: 50vw;
  flex: 0 0 50vw;
  width: 50vw;
  transition-duration: .8s;
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(.25, .74, .22, .99)
}

.ox10-projects a img {
  width: 100%
}

.ox10-projects.slider {
  margin: 30px 0px;
}

.ox10-projects-section{
  display: block;
}


.ox10-projects-section .ox10-projects-content h4 {
  margin: 10px 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  color: var( --ox10-section-text-color);
  width: 100%;
  height: 40px;
  left: 0;
  float: left
}

.ox10-projects-section .ox10-projects-content .count {
  margin: -40px 20px;
  width: 25px;
  height: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var( --ox10-section-text-color);
  float: right;
}

/************************* projects section ****************************/

/*************************** service section ***************************/

body .ox10-service-col {
  padding-top: 5%;
  padding-right: 5%;
}
body .ox10-service-count {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--ox10-primary-color);
}
body .ox10-service-title {
  color: var(--ox10-secondary-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}
body .ox10-service-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--ox10-section-text-color);
}
body .ox10-service-btn-wrap {
 padding-top: 8%;
}
body .ox10-service-btn-wrap .ox10-purple-btn.primary {
  width: 347px;
  height: 48px;
}

/*************************** service section ***************************/
/******************* testimonial **************************/
body .ox10-testimonial-wrap{
  padding: 9% 10% 9% 10%;
}
body .testimonial-carousel {
  padding: 5% 34% 0% 0%;
}
body .ox10-testimonial-image {
  margin-right: 5%;
}  
body .ox10-testimonial-image img{
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 60px;
  border: 6px solid #E8E8E8;
}
body .ox10-testimonial-user-name {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  color: var(--ox10-primary-text-color);
  margin-bottom: 0%;
}
body .ox10-testimonial-user-desc {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #A3A3A3;
}
body .ox10-testimonial-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  padding: 5% 5% 5% 0%;
  color: var(--ox10-primary-text-color);
}
body .ox10-testimonial-carousel-controls {
  max-width: 100px;
  width: 100%;
}
body .ox10-testimonial-carousel-controls .control {
  position: static;
}
body .testimonial-carousel  .ox10-carousel-count {
  color: var(--ox10-primary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}


/******************* testimonial **************************/

/*********************** footer Banner ******************************/
body .ox10-footer-banner {
  text-align: center;
  background: #F7F2FD;
  padding: 7% 0% 7% 0%;
}
body .ox10-footer-banner-title {
  font-size: 44px;
  line-height: 60px;
  font-weight: 800;
  color: var(--ox10-primary-text-color);
  letter-spacing: 0.25px;
  padding: 0% 20% 0% 20%;
}
body .ox10-footer-banner .ox10-purple-btn.primary{
  margin: 5% 0% 0% 0%;
}
/*********************** footer Banner ******************************/
/*********************** footer *************************************/

body .ox10-footer {
  background: #180033;
  color:var(--ox10-white-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 6%;
}
body .ox10-footer-wrap{
  padding:5% 12% 0% 10%;
}
body .ox10-footer img {
  margin-top: 3%;
}
body .ox10-footer a {
  color: var(--ox10-white-color);
  font-weight: 400;
}
body .ox10-footer-col-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-decoration-line: underline;
}
body .ox10-footer-social-wrap, .ox10-footer-page-wrap{
 margin-top: 36px;
}
body .ox10-footer .ox10-social-link, .ox10-page-link {
  margin-top: 15px;
}  
body .ox10-footer-contact, .ox10-footer-contact-site   {
  margin-top: 10%;
}
body .ox10-footer-divider {
  border-top: 1px solid #F4EBFF;
  margin: 3% 12% 0% 10%;
}
body .ox10-copyright-wrap{
  padding: 0% 12%  0% 10%;
  margin-top:40px;
  display: block;
}
body .ox10-copyright{
  text-align:left;
}
body .ox10-designer{
  text-align:right;
}

/*********************** footer *************************************/

/****************************************** Responsive starts Here ***************************************************/

@media only screen and (min-width: 1400px) {
  body .ox10-navbar {
    padding: 2% 14% 2% 14%;
  }
  body .navbar-collapse {
    margin-left: 18%;
  }
  body .ox10-talk-to-us-button{
    margin-left: 250px
  }
  body .ox10-landing-title {
    padding: 5% 15% 5% 15%;
  }
  body .ox10-landing-carousel .carousel-caption {
    margin-left: 0%;
  }
  body .ox10-brand-list-wrap {
    padding: 2% 20% 2% 20%;
  }
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 9% 15% 9% 15%;
  }
  body .ox10-about-us-first-wrap-text, .ox10-service-wrap-first-text{
    padding: 3% 46% 0% 0%;
  }
  body .ox10-about-us-second-wrap-title{
    padding-right: 5px;
  }
  body .ox10-count-wrap{
    margin-left: -36px;
  }
  body .ox10-purple-btn{
    padding: 0.8%;
  } 
  .ox10-projects-wrap .ox10-second-level-title{
    margin-left: 15%;
  }
  .ox10-projects-wrap .ox10-purple-btn.outlined{
    margin-left: 15%;
  }
  body .ox10-services{
    padding-right: 258px;
  }
  body .ox10-service-btn-wrap .ox10-purple-btn.primary{
    padding: 1%;
  }
  body .ox10-testimonial-wrap{
    padding: 9% 15% 9% 15%; 
  }
  body .ox10-testimonial-text{
    padding: 5% 20% 5% 0%;
  }
  body .ox10-footer-banner .ox10-purple-btn.primary{
    padding: 0.7%;
  }  
  body .ox10-footer-wrap{
    padding: 5% 12% 0% 15%;
  }
  body .ox10-footer-content{
    width:1600px;
  }
  body .ox10-footer-contact-site{
    margin-top:5%;
  }
  body .ox10-footer-divider{
    margin-top:2%;
  }
}
@media only screen and (max-width: 1280px) {
  body .ox10-nav-align .nav-item{
    position: static;
    height: 22px;
    width: 68px;
  } 
  body .ox10-nav-align {
    left: 35%;
    top: 30%;
  }
  body .nav-link{
    display:inline-block;
  }
  body .ox-10-active-link {
    background-color: #f3e9ff;
  }
  body .ox10-nav-btn-align{
    margin: 10px 0px 0px 0px;
    padding-bottom: 15px;
  }
  .ox10-projects.slider {
    margin: 40px 0px;
  }
  .ox10-projects-wrap .ox10-purple-btn.outlined{
    padding:1%;
  }
  body .ox10-footer-banner{
    padding: 10% 0% 10% 0%;
  }
  body .ox10-footer-banner-title{
    padding: 0% 6% 0% 6%;
  } 
}
@media only screen and (max-width: 1180px) {
  body .navbar-collapse {
    margin: 0% 0% 0% 3%;
  }

}
 @media only screen and (max-width: 1024px) {
  
  body .ox10-navbar{
    padding: 0% 0% 0% 3%;
  }
  body .navbar-collapse{
    margin: 26px 0px 26px 100px ;
  }
  body .ox10-talk-to-us-button {
    margin: 0px 0px 0px 70px;
  }  
  body .ox10-landing-title{
    padding: 5%;
  }
  body .ox10-landing-carousel .carousel-caption {
    margin-left: -10%;
  }   
  body .ox10-brand-lists{
    padding:7% 5% 7% 5%;
  }  
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 10% 6% 10% 6%;
  }  
  body .ox10-purple-btn{
    padding-top: 1.5%;
  }
  body .ox10-testimonial-wrap{
    padding: 12% 6% 12% 6%;
  }
  body .testimonial-carousel {
    padding: 5% 15% 0% 0%;
  }
} 
 

@media only screen and (max-width: 991px)    {

  body .navbar-collapse {
    margin: 0% 0% 0% -2%;
  }
  body .navbar-brand {
    margin: 4% 0% 4% 0%;
  }
  body .ox10-nav-img-align {
    width: 88px;
    height: 18px;
  }  
  body .ox10-landing-title{
    padding: 8% 4% 8% 4%;
  }
  body .ox10-landing-h1 {
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.2px;
  }
  body .ox10-landing-carousel .carousel-caption {
    padding: 2% 3% 2% 3%;
    margin-left: -11%;
    min-width:130px;
    height: 65px;
  } 
  body .ox10-landing-carousel .ox10-banner-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 3%;
  }
  body .ox10-landing-carousel .ox10-banner-text {
    font-size: 12px;
    line-height: 16px;
  }
  body .ox10-brand-lists{
    padding:7% 5% 7% 5%;
  }
  body .ox10-brand-lists-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
  }  
  body .ox10-second-level-title{
    font-size: 12px;
    line-height: 24px;
  }
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 10% 4% 0% 4%;
  }  
  body .ox10-about-us-first-wrap-text, .ox10-service-wrap-first-text{
    padding: 7% 0% 0% 0%;
    font-size:20px;
    line-height: 28px;
  } 
  body .ox10-about-us-second-wrap-title {
    font-size: 24px;
    line-height: 36px;
  }
  body .ox10-count-wrap {
    padding: 3% 0% 0% 0%;
  }
  body .ox10-count-wrap .ox10-count{
    font-size: 32px;
    font-weight:800;
    line-height: 32x;
    letter-spacing: 0.25px;
    font-family: var(--ox10-primary-font-family);
    padding-bottom:1%;
  }
  body .ox10-count-wrap .ox10-text{
    font-size: 20px;
    line-height: 28px;
    font-family: var(--ox10-primary-font-family);
    padding-bottom:3%;
  }
  body .ox10-purple-btn{
    padding: 1.5%;
  }
  body .ox10-purple-btn.outlined {
    margin: 3% 0% 10% 1%;
  }
  body .ox10-purple-btn.primary{
    margin: 3% 0% 10% 6%;
  }
  .ox10-projects-wrap .ox10-second-level-title{
    margin-left: 0%;
  }
  .ox10-projects-wrap .ox10-purple-btn.outlined{
    margin-top: 48px;
    margin-left: 0%;
  }
  body .ox10-projects-wrap{
    padding: 10% 4% 3% 4%;
  }
  .ox10-projects.slider {
    display: block;
    margin-bottom: 0px;
  }
.ox10-projects a {
    padding-left: 0%;
    padding-right: 0%;
    max-width: 100%;
    width: 100%;
  }
.ox10-projects-section .ox10-projects-content h4 {
    font-size: 19px;
    line-height: 28px;
    height: 28px;
  }
  .ox10-projects-section .ox10-projects-content .count { 
    display: none;
  }
  .ox10-company-name{
    display:flex;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  body .ox10-service-count {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 3%;
  }
  body .ox10-service-title{
    color: var(--ox10-primary-text-color);
    font-size: 24px;
    line-height: 36px;
  }
  body .ox10-service-text{
    font-size: 14px;
    line-height: 20px;
  }
  body .ox10-service-btn-wrap .ox10-purple-btn.primary {
    width: 347px;
    padding: 1.5% 0% 0% 0%;
    margin: -7% 0% 0% 5%;
  }
  body .ox10-testimonial-wrap{
    padding: 12% 5% 12% 5%;
  }
  body .testimonial-carousel {
    padding: 5% 7% 0% 0%;
  }
  body .ox10-testimonial-image img{
    width: 80px;
    height: 80px;
    border: 4px solid #E8E8E8;
  }  
  body .ox10-testimonial-user-name {
    font-size: 20px;
    line-height:28px;
    font-weight: 500;
  }
  body .ox10-testimonial-user-desc {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  body .ox10-testimonial-text {
    font-size: 20px;
    line-height: 28px;
    padding:5% 10% 5% 0%;
  }
  body .testimonial-carousel  .ox10-carousel-count {
    font-size: 14px;
    line-height: 18px;
  }
  body .ox10-footer-banner{
    padding: 15% 0% 15% 0%;
  }
  body .ox10-footer-banner-title {
    font-size: 32px;
    line-height: 32px;
    padding: 5%;
  }
  body .ox10-footer-banner .ox10-purple-btn.primary{
    width: 160px;
  }
  body .ox10-talk-to-us-button{
    width: 85px;
    height: 40px;
    border-radius: 19px;
    padding: 0px;
    font-size: 12px;
    margin: 0px 0px 0px 5px;
  } 
  body .ox-10-active-link{
    border-radius: 5px;
    line-height: 20px;
    width: 80px;
    font-size:18px;
  } 
  body .ox10-nav-align .nav-item{
    padding: 10px 0px 25px 0px;
  } 
  body .ox10-brand-list-wrap .first-row {
    justify-content: center !important;
  }    
  body .ox10-brand-image {
    padding: 3% 7% 3% 5%;
  }
  body .ox10-footer-wrap{
    padding: 10% 5% 0% 5%;
  } 
  body .ox10-footer-social-wrap{
    margin-bottom: 62px;
  }    
  body .ox10-footer-col-title {
    font-size: 32x;
    line-height: 44px;
    font-weight: 600; 
  }
  body .ox10-footer-social-wrap, .ox10-footer-page-wrap{
    margin-top: 16px;
  }
  body  .ox10-footer-contact-site   {
    margin-top: 4%;
  }
  body .ox10-footer-contact-address {
    padding-right: 30%;
  } 
  body .ox10-footer-divider {
    margin: 6% 5% 6% 5%;
  }
  body .ox10-copyright-wrap{
    padding: 0% 5% 0% 5%;
    margin-top:0%;
  }
  
}

@media only screen and (max-width: 768px) {  
  body .navbar-collapse {
    margin: 0% 0% 0% -3%;
  }
  body .carousel-indicators{
    margin-bottom: 1%;
  }
  body .ox10-landing-carousel .carousel-indicators [data-bs-target]{
    height: 4px;
    width: 4px;
    margin-right: 10px;
  }
  body .ox10-landing-carousel .carousel-indicators .active::before{
    width: 12px;
    height: 12px
  }
  body .testimonial-carousel {
    padding: 7% 7% 0% 0%;
  }   
  body .ox10-footer-contact-address {
    padding-right: 27%;
}
}

@media only screen and (max-width: 600px) {   
  body .ox10-landing-carousel .carousel-caption {
    height: 62px;
  } 
  body .ox10-brand-image {
    padding: 5%;
  }
  body .ox10-about-us-wrap, .ox10-service-wrap{
    padding: 10% 5% 10% 5%;
  } 
  body .ox10-purple-btn{
    padding: 2%;
  }     
  .ox10-projects-wrap .ox10-second-level-title{
    margin-left: 1%;
  }
  .ox10-projects-wrap .ox10-purple-btn.outlined{
    margin-left: 1%;
  }
.ox10-projects a {
    padding-left: 1%;
    padding-right: 1%;
  }
  body .ox10-service-btn-wrap .ox10-purple-btn.primary {
    padding: 2% 0% 0% 0%;
  }   
  body .ox10-footer {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 598px) {
  body .ox10-service-btn-wrap .ox10-purple-btn.primary{
    margin-left:1%;
  }
}
@media only screen and (max-width: 540px) {
  body .ox10-service-btn-wrap .ox10-purple-btn.primary{
    margin: 0%;
  } 
  body .ox10-navbar{
    padding: 0% 2% 0% 2%;
  }
  body .ox10-footer-contact-site {
    margin-top: 10%;
  }
  body .ox10-footer-contact-address {
    padding-right:17%;
  }
  body .ox10-footer-divider {
    margin: 6% 5% 6% 5%;
  }   
}
@media only screen and (max-width: 480px) {
  body .navbar-collapse {
    margin: 0% 0% 0% -4%;
  }
  body .ox10-brand-image {
    padding:10% 13% 0% 5%;
  }     
  body .ox10-purple-btn{
    padding: 3%;
  }    
  body .ox10-service-btn-wrap .ox10-purple-btn.primary{
    width: 300px;
    padding: 3% 0% 0% 0%;
  } 
}
@media only screen and (max-width: 393px) {
  body .ox10-about-us-button-wrap .ox10-purple-btn{
    margin-left:1%;
    padding:3.5%;
  }
}
@media only screen and (max-width: 365px) {
  body .ox10-footer-banner-title{
   font-size: 34px;
  }
  body .ox10-purple-btn.primary{
    margin: 3% 0% 5% 0%;
  }
}
@media only screen and (max-width: 320px) {
  body .navbar-collapse {
    margin: 0% 0% 0% -7%;
  }
  body .ox10-landing-title{
    padding: 8% 5% 8% 5%;
  }
  body .ox10-landing-h1 {
    font-size: 36px;
    line-height: 42px;
  }
  body .carousel-indicators{
    margin-bottom: 0%;
  }
  body .ox10-landing-carousel .carousel-caption {
    margin-left: -9%;
  } 
  body .ox10-landing-carousel .ox10-banner-title {
    font-size: 16px;
    line-height: 19px;
  }
  body .ox10-landing-carousel .ox10-banner-text {
    font-size: 11px;
    line-height: 15px;
  }
  body .ox10-brand-lists-title {
    font-size: 22px;
    line-height: 34px;
  }  
  body .ox10-brand-image {
    padding-top:10%;
  }  
  body .ox10-about-us-second-wrap-title {
    font-size: 20px;
    line-height: 32px;
  }
  body .ox10-count-wrap .ox10-count{
    font-size: 28px;
    line-height: 28px;
  }
  body .ox10-count-wrap .ox10-text{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 5%;
  }
  body .ox10-purple-btn{
    padding: 4%;
  }  
  body .ox10-purple-btn.outlined{
    margin: 3% 0% 5% 0%;
  }
  body .ox10-service-title{
    font-size: 21px;
    line-height: 37px;
  }
  body .ox10-service-btn-wrap .ox10-purple-btn.primary{
    padding: 5% 0% 0% 0%;
  } 
  body .ox10-service-text{
    font-size: 11px;
    line-height: 22px;
  } 
  body .ox10-testimonial-user-name {
    font-size: 19px;
    line-height: 27px;
  }
  body .ox10-testimonial-user-desc {
    font-size: 14px;
    line-height: 18px;
  }
  body .ox10-footer-banner{
    padding: 15% 5% 15% 5%;
  }
  body .ox10-footer-banner-title {
    font-size: 28px;
    line-height: 28px;
    padding: 12% 5% 12% 5%;
  }
}


/*
Projects section start
*/

body .ox10-overline{
 width: 65rem;
  border: 1px solid var(--ox10-primary-color);

}







